<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.permission">

    <application tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".bridge.BridgeActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:process=":permission"
            android:theme="@style/Permission.Theme" />
        <!--<receiver android:name=".bridge.Messenger">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>-->
        <!--<provider
            android:name=".FileProvider"
            android:authorities="com.android.premission.file.path.share"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/permission_file_paths" />
        </provider>-->
    </application>

</manifest>